@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Learn more about privacy on <a href="https://en.wikipedia.org/wiki/Privacy">Wikipedia</a>.</p>
